*
	{
	margin: 0;
	padding: 0;
	border: 0;
	}

nav
	{
	font-family: cubano,sans-serif;
	font-size: 20px;
	}

  a.dropbtn, a.nav-link{
  	line-height: 150px;
  }

	body
	{
		font-family: trade-gothic-next, sans-serif;
		background-color: #ffffff;

	}

.container {
	width: 75%;
	margin: 0 auto;
}

.logo {
	width: 150px;
}

ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: rgb(251, 247, 235);
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: rgb(223, 120, 97);
	text-align: center;
	text-decoration: none;
	font-size: 1.5em;
	padding: 0.8em 1em;
}

li a:hover, .dropdown:hover .dropbtn {
	color: rgb(75, 72, 104);
	transition: 0.1s ease-in;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(251, 247, 235);
	z-index: 1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: rgb(213, 226, 212);
	padding: 12px 6px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.list {
  align: left;
  float: left;
  padding-left: 60px;
  padding-top: 50px;
  width: 15%;
}

p1 {
  font-family: trade-gothic-next,sans-serif;
  font-size: 18px;
  color: rgb(223, 120, 97)
}

h2 {
  font-family: cubano,sans-serif;
  font-size: 20px;
  color: rgb(75, 72, 104)
}

.vinyls {
  align: right;
  float: left;
  width: 75%;
}

.column {
  float: left;
  width: 30%;
	align: right;
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 10px;
}

.column2 {
  float: left;
  width: 30%;
	align: right;
	padding-left: 10px;
	padding-bottom: 90px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

.card {
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: trade-gothic-next,sans-serif;
  font-size: 10px;
  padding-top: 60px;
}

.price {
  color: grey;
  font-size: 12px;
  padding-bottom: 10px;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: rgb(213, 226, 212);
  text-align: center;
  cursor: pointer;
  width: 60%;
  font-size: 16px;
}

.card button:hover {
  background-color: rgb(223, 120, 97);
}



footer {
	background-color: #00383C;
	height: 150px;
}
